{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Zarządzaj produktami</h1>

    <a href="{{ path('admin_add_product') }}">Dodaj produkt</a>

    <hr>

    <div>Znaleziono produktów: {{ list.getTotalItemCount }}</div>
    <br>

    {% for item in list %}
        <div>
            {{ item.name }}
        </div>
    {% endfor %}
    <br>
    {{ knp_pagination_render(list) }}
{% endblock %}